apiVersion: apps/v1
kind: Deployment
metadata:
  name: avinetworks
spec:
  selector:
    matchLabels:
      app: avinetworks
  replicas: 2 # tells deployment to run 2 pods matching the template
  template:
    metadata:
      labels:
        app: avinetworks
    spec:
      containers:
      - name: avinetworks
        image: smarunich/avinetworks-demo
        ports:
        - containerPort: 80
---
kind: Service
apiVersion: v1
metadata:
  name: avinetworks
spec:
  selector:
    app: avinetworks
  ports:
  - protocol: TCP
    name: http
    port: 80
    nodePort: 30001
  type: NodePort
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: avinetworks
spec:
  rules:
  - host: avinetworks.app.{{ inventory_hostname | regex_replace('master1.','') }}
    http:
      paths:
      - path: /
        backend:
          serviceName: avinetworks
          servicePort: 80

